*{
	padding: 0px;
	margin: 0px;
}
body{
	width: 100%;
	font-family: Arial, Helvetica, Verdana;
	position: relative;
}
#header{
	widows: 100%;
	height: 600px;
	background-image: url(images/homebg.jpg);
	background-size: cover;
	padding: 0px !important;
}
.bground{
	width: 100%;
	height: 100%;
	background-color: #1a1b1cb3;
}
#logo{
	width: 20%;
	height: 6%;
	margin-left: 5%;
	position: absolute;
	margin-top: 5%;
	border: solid 1.5px #999999;
	color:#ff7200;
	font-size: 150%;
	text-align: center;
}
#smenu{
	width: 8%;
	height: 6%;
	border: solid 1.5px #999999;
	float: right;
	position: relative;
	margin:5%;
}
a, a:link, a:active, a:visited, a:hover {
	color: inherit;
	text-decoration: underline;
}

.header nav {
	display: none;
}

.header,
.content,
.footer {
	text-align: center;
}
.header,
.footer {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 50px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
}
.header.fixed {
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
}
.header a {
	display: block;
	width: 70%;
	height: 15%;
	margin: 5px;
	position: absolute;
}
.header a:before,
.header a:after {
	content: '';
	display: block;
	background: #fff;
	height: 2px;
}
.header a span {
	background: #fff;
	display: block;
	height: 2px;
	margin: 6px 0;
}
.content {
	padding: 150px 50px 50px 50px;
}
.tt1{
	color: white;
	font-size: 36px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}
.tt2{
	color: white;
	font-size: 14px;
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
}
.tt3{
	color: black;
	font-size: 20px;
	text-align: left;
	padding-left: 2%;
	font-family: 'Ubuntu', sans-serif;
}
.tt4{
	color: black;
	font-size: 14px;
	text-align: left;
	font-family: 'Nanum Gothic', sans-serif;
	padding: 2%;
}
.btn1{
	width: 40%;
	height: 7%;
	background-color: #ff7200;
	color: white;
	margin-left: 30%;
	font-size: 14px;
	padding-top: 15px;
}
#slide-show {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #ff7200;
}
.flat{
	width: 100%;
	height: 45%;
	float: left;
	margin-left: 5%;
}
.flat img{
	width: 90%;
	height: 85%;
	position: absolute;
	z-index: 0;
}
.conveyor-btn {
	width: 57%;
	height: 30px;
	/*background: red;*/
	position: absolute;
	bottom:10%;
	right: 0px;
	opacity: 0.8;
}
.img-slide {
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
	min-height: 100%;
	/*display: none;*/
}
.flat i{
	z-index: 1;
	position: absolute;
	text-align: center;
	padding-left: 43%;
	margin-top: 20%;
}
.flat div{
	position: absolute;
	width: 100%;
	height: 20%;
	margin-top: 40%;
	color: black !important;
}
.extra-bar{
	margin-left: 2%;
	height: 3px;
	background-color: #eeeeee;
	padding: 0px !important;
}
.extra-bar div{
	margin-left: 0px;
	height: 100%;
	background-color: #ff7200;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {display: none}
img {vertical-align: middle;}
.dot1 {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot1:hover {
  background-color: #ff7200;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5000s;
  animation-name: fade;
  animation-duration: 50s;
}
@-webkit-keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}
#btnLaunch{
	width: 35%;
	height: 6%;
	background-color: white;
	color: black;
	font-size: 14px;
	padding-top: 2%;
	margin-left: 0px;
	border: solid 2px #eeeeee;
}
.flag{
	height: 85%;
	float: left;
	padding: 0px;
	padding-right: 2%;
}
.flag img{
	width: 90%;
	height: 100%;
	position: absolute;
	z-index: 0;
}
.chart{
	width: 100%;
	height:20%;
	float: left;
	padding-right: 3%;
}
.chart>ul>li{
	list-style: none;
	display: block;
	float: left;
	line-height: 30px;
}
.ttleft{
	float: left;
	padding-right: 55%;
}
.chart1{
	width: 100%;
	height: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 2px ;
	position: relative;
	top: 30px;
	padding: 0px;
}
.chart2{
	width: 100%;
	height: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 2px #eeeeee;
	position: absolute;
	top: 0;
	background-color: #ff7200;
}
.Dcount{
	height: 20%;
	position: relative;
	display: block;
	float: left;
	z-index: 2;
}
.img-div{
	width: 100%;
	height: 600px;
}
.img-info{
	width: 50%;
	height: 50%;
	background-color:#ff720094;
	position: absolute;
	z-index: 1; 
	margin-left: 22%;
	margin-top: 25%;
	display: none;

}
.icon-hv{
	width: 20%;
	height: 16%;
	border: solid 1px white;
	display: block;
	float: left;
	margin-left: 4%;
	margin-bottom: 5%;
	color: white;
}
#content {
	margin: 0 auto;
	box-sizing: border-box;
}
.panel {
	width: 100%;
	background: white;
}
.plus img{
	position: absolute;
	z-index: 0;
	width: 80%;
	height: 60px;
}
.plus i{
	position: absolute;
	z-index: 1;
	padding: 25%;
}
.panel-title{
	width: 100%;
	height: 58px;
	border: solid 2px #eeeeee;;
}
.panel-content {
	width: 100%;
	padding: 5px;
	border: solid 2px #eeeeee;
	display: none;
}
.ctent1{
	height: 110px;
}
#menu2{
	position: absolute;
	margin-top: 5%;
}
#menu2>ul>li{
	list-style: none;
	display: block;
	float: left;
	line-height: 35px;
}
#menu2>ul>li p{
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
#menu2>ul>li div{
	width: 100%;
	height: 3px;
	padding: 0 !important;
}
#menu2>ul>li:hover div{
	background-color: #ff7200;
}
.pictures{
	padding: 0px !important;
	margin: 0px !important;
}
.pics{
	padding: 0px !important;
	margin: 0px !important;
	margin-bottom: 5%;
}
.img-fluid{
	width: 95%;
	margin-bottom: 5%;
/*	position: absolute;
*/}
.img-info2{
	width: 85%;
	height: 70%;
	background-color:#ff720094;
	position: absolute;
	z-index: 1; 
	margin-left: 5%;
	margin-top: 5%;
	display: none;
	font-size: 12px;
}
.icon-hv2{
	width: 20%;
	height: 40%;
	border: solid 1px white;
	display: block;
	float: left;
	margin-left: 4%;
	margin-top: 15%;
	color: white;
	font-size: 12px;
	padding-left:5%;
	padding-top: 2%;
}
.gallery .pics {
	-webkit-transition: all 350ms ease;
	transition: all 350ms ease; 
}
.gallery .animation {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1); 
}
.gallery_product{
	padding: 0px !important;
}
#bg11{
	widows: 100%;
	height: 100%;
	background-image: url(images/testbg.jpg);
	background-size: cover;
	padding: 0px !important;
}
.clogo{
	float: left;
}
.clogo img{
	width: 80%;
	height: 80%;
	margin-top: 10%;
	margin-left: 10%;
}
#bg12{
	widows: 100%;
	height: 80%;
	background-image: url(images/featureslid1.jpg);
	background-size: cover;
	padding: 0px !important;
	margin-top: 15%;
}
#bg12 div>input{
	width: 80%;
	height: 32px;
	margin-left: 10%;
	margin-top: 5%;
}
#btnSubmit{
	width: 35%;
	height: 7%;
	background-color: #ff7200;
	color: white;
	font-size: 14px;
	padding-top: 2%;
	margin-left: 0px;
	border: solid 2px #ff7200;
	margin-top: 10%;
	margin-left: 30%;
}
#bg13{
	widows: 100%;
	height: 200px;
	padding: 0px !important;
}
#Gmap{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	margin-top: 5%;
}
#logo1{
	width: 20%;
	height: 40px;
	margin-left: 5%;
	position: absolute;
	margin-top: 10%;
	border: solid 1.5px #999999;
	color:#ff7200;
	font-size: 150%;
	text-align: center;
	padding-top: 1%;
}
.fMenu{
	height: 17%;
}
.fMenu>ul li{
	color: white;
	list-style: none;
	padding: 1%;
}
.fMenu input{
	background-color: #333333;
	border: solid 1.5px #999999;
	height: 25%;
}
#footer1{
	width: 100%;
	height: 50%;
}
#footer1>div{
	width: 8%;
	height: 35%;
	border: solid 1.5px #999999;
	display: block;
	float: left;
	margin-top: 8%;
	margin-right: 3%;
}
#footer1>div i{
	font-size: 18px;
	padding: 25%;
	color: white;
}
.fMenu>ul>li:hover{
	color: #ff7200;
}
.footerIcon:hover{
	background-color: #ff7200;
}
#myBtn{
	/*display: none;*/
	width: 30px;
	height: 35px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	font-size: 24px;
	color: #999999;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
}
#myBtn:hover{
	color: #ff7200;
}
#p4Content{
	width: 100%;
	height: 
}
.p10Div{
	height: 100px;
}
#menu3{
	position: absolute;
	margin-top: 5%;
	z-index: 1;
	margin-left: 32%;
	width: 65%;
	height: 50px;
	display: none;
}
#menu3>ul>li{
	list-style: none;
	display: block;
	float: left;
	line-height: 35px;
}
#menu3>ul>li a{
	text-decoration: none;
	color: white;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 2px;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
#menu3>ul>li div{
	width: 100%;
	height: 3px;
	padding: 0 !important;
}
#menu3>ul>li:hover div{
	background-color: #ff7200;
}
@media screen and (min-width: 768px) and (max-width: 990px){
	#smenu{
		display: none;
	}
	#menu3{
		display: block;
	}
	.p1{
		padding-top: 15% !important;
	}
	.flat{
		height: 75%;
		margin-left: 0px !important;
	}
	#page2{
		height: 200px !important;
	}
	#p3tt2, #p3div2,{
		float: left;
	}
	#p5p1{
		padding-top: 25% !important;
	}
	#p5p2{
		padding-top: 45% !important;
	}
	#slideMain{
		float: left;
		padding: 0px !important;
		position: absolute;
	}
	#slideBtn{
		float: left;
		margin-top: 40%;
	}
	#p4Content{
		float: right;
	}
	#btnLaunch{
		width: 50%;
	}
	#page4{
		height: 350px !important;
	}
	.ctent1{
		padding: 0px !important;
	}
	.col4-img{
		width: 80px !important;
		height: 70px !important;
	}
	#p6Div{
		float: left;
		position: absolute;
	}
	#p6Img{
		float: right;
	}
	#p6Img{
		margin-left: 25%;
	}
	#page6{
		height: 550px!important;
	}
	.flag{
		height: 85%;
	}
	.childFlag{
		padding-left: 5px !important;
		padding-top: 5% !important;
	}
	#p7Div1{
		height: 50px !important;
	}
	#page8{
		margin-top: 10%;
		padding: 0px !important;
	}
	.ttleft, .ttright{
		font-size: 14px !important;
	}
	.chart{
		padding-left: 0px !important;
		width: 95%;
	}
	#page9{
		height: 350px !important;
	}
	.counter{
		padding-top: 0px !important;
	}
	.Dcount{
		margin-top: 10%;
	}
	.p10Div{
		padding: 0px !important;
		float: left;
		margin-top: 5%;
	}
	.small-img{
		width: 50px !important;
		height: 50px !important;
	}
	.page10tt3{
		font-size: 14px !important;
		margin:0px !important;
	}
	.page10tt2{
		font-size: 12px !important;
		margin:0px !important;
	}
	.ctentp10{
		padding-left: 10% !important;
	}
	#page10{
		height: 300px !important;
	}
	.img-div{
		float: left;
		margin-top: 10% !important;
		height: 200px !important;
	}
	.p11tt3{
		font-size: 14px !important;
	}
	.p11tt4{
		font-size: 10px !important;
		margin-bottom: 10px !important;
	}
	.icon-hv{
		font-size: 10px !important;
	}
	#page11{
		height: 400px !important;
	}
	#page12{
		height: 600px !important;
	}
	#content{
		margin-left: 0px !important;
		float: left;
	}
	#p12Img{
		float: right;
	}
	#page13{
		height: 1350px !important;
	}
	.bg11tt1{
		padding-top: 10% !important;
	}
	.clogo{
		margin-top: 5% !important;
	}
	#bg11{
		height: 400px !important;
	}
	#page15{
		height: 150px !important;
	}
	#page17{
		margin-top: 6%;
		height: 600px !important;
	}
	#p19Div{
		float: left;
	}
	.fMenu{
		float: left;
	}
	#logo1{
		width: 50%;
	}
	#p19Div p{
		margin-top: 35% !important;
	}
	#page19{
		height: 500px !important;
	}
	#page20 p{
		float: left;
	}
	#footer1{
		float: right;
	}
	.footerIcon{
		width: 11% !important;
		height: 60% !important;
	}
	#page20{
		height: 100px !important;
	}
}
@media screen and (min-width: 576px) and (max-width: 766px) {
	#smenu{
		display: none;
	}
	#menu3{
		display: block;
	}
	.p1{
		padding-top: 30% !important;
	}
	.flat{
		height: 75%;
		margin-left: 0px !important;
	}
	#page2{
		height: 200px !important;
	}
	/*#slideMain{
		float: left;
		padding: 0px !important;
		position: absolute;
	}
	#slideBtn{
		float: left;
		margin-top: 40%;
	}*/
	#p4Content{
		float: right;
	}
	#btnLaunch{
		width: 50%;
	}
	#page4{
		height: 350px !important;
	}
	.ctent1{
		padding: 0px !important;
	}
	.col4-img{
		width: 80px !important;
		height: 70px !important;
	}
	#p6Div{
		float: left;
		position: absolute;
	}
	#p6Img{
		float: right;
	}
	#p6Img{
		margin-left: 25%;
	}
	#page6{
		height: 550px!important;
	}
	.flag{
		height: 85%;
	}
	.childFlag{
		padding-left: 0px !important;
	}
	#p7Div1{
		height: 50px !important;
	}
	#page8{
		margin-top: 10%;
		padding: 0px !important;
	}
	.ttleft, .ttright{
		font-size: 14px !important;
	}
	.chart{
		padding-left: 0px !important;
		width: 95%;
	}
	#page9{
		height: 300px !important;
	}
	.counter{
		padding-top: 0px !important;
	}
	.Dcount{
		margin-top: 10%;
	}
	.p10Div{
		padding: 0px !important;
		float: left;
		margin-top: 5%;
	}
	.small-img{
		width: 50px !important;
		height: 50px !important;
	}
	.page10tt3{
		font-size: 14px !important;
		margin:0px !important;
	}
	.page10tt2{
		font-size: 12px !important;
		margin:0px !important;
	}
	.ctentp10{
		padding-left: 10% !important;
	}
	#page10{
		height: 300px !important;
	}
	.img-div{
		float: left;
		margin-top: 10% !important;
		height: 200px !important;
	}
	.p11tt3{
		font-size: 14px !important;
	}
	.p11tt4{
		font-size: 10px !important;
		margin-bottom: 10px !important;
	}
	.icon-hv{
		font-size: 10px !important;
	}
	#page11{
		height: 400px !important;
	}
	#page12{
		height: 600px !important;
	}
	#content{
		margin-left: 0px !important;
		float: left;
	}
	#p12Img{
		float: right;
	}
	#page13{
		height: 1350px !important;
	}
	.bg11tt1{
		padding-top: 10% !important;
	}
	.clogo{
		margin-top: 5% !important;
	}
	#bg11{
		height: 400px !important;
	}
	#page15{
		height: 150px !important;
	}
	#page17{
		margin-top: 6%;
		height: 600px !important;
	}
	#p19Div{
		float: left;
	}
	.fMenu{
		float: left;
	}
	#logo1{
		width: 50%;
	}
	#p19Div p{
		margin-top: 35% !important;
	}
	#page19{
		height: 500px !important;
	}
	#page20 p{
		float: left;
	}
	#footer1{
		float: right;
	}
	.footerIcon{
		width: 11% !important;
		height: 60% !important;
	}
	#page20{
		height: 100px !important;
	}
}
